<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breaking bad</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Breaking bad quote</h1>
  <div class="card">
    <div class="text-field">
        <p class="quote">
           <%= quote %> 
        </p>
    </div>
    
  </div>
  <p class="author">
    <%= person %>
  </p>
    
</body>
</html>